<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<p>Add product</p>
<form action="#" th:action="@{/product/add}" th:object="${newProduct}" method="post">
    <table border="1">
        <tr>
            <td><label> Title</label></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><label>Thumbnail</label></td>
            <td><input type="text" th:field="*{thumbnail}"/></td>
        </tr>
        <td><label>Price</label></td>
        <td><input type="number" th:field="*{price}"/></td>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect2">Productors</label>
            </div>
            <select id="inputGroupSelect2" class="custom-select" th:field="${newProduct.producator.producatorId}">
                <option selected th:value="null">Choose</option>
                <  <option th:each="producator: ${producatori}" th:value="${producator.producatorId}" th:text="${producator.firstName}" ></option>
            </select>
        </div>
    </table>
</form>

</body>
</html>