<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Category Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<div>
    <div class="container text-center">
        <div class="media-center">
            <img class="header-image is-logo-image" alt="logo image" src="/images/cadouri-handmade.jpg" style="width: 80%" >
            <h1 style="font-family: 'Comic Sans MS'">Handmade By Cristina</h1>
        </div>
        <h3 style="font-family: 'Comic Sans MS'" align="center" > Creativitate, Culoare, Cadou </h3>
    </div>
</div >

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/getCategory">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/homepage">Despre mine</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Magazin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/getProduct/1">Nume din fetru simple</a></li>
                        <li><a class="dropdown-item" href="/getProduct/2">Nume din fetru personalizate</a></li>
                        <li><a class="dropdown-item" href="/getProduct/3">Animalute crosetate</a></li>
                        <li><a class="dropdown-item" href="/getProduct/4">Ghiozdan/rucsac</a></li>
                        <li><a class="dropdown-item" href="/getProduct">Toate produsele</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" href="/getPrice">Lista preturi</a></li>
                <li><a class="nav-link" href="https://www.facebook.com/HandmadebyCristinafetru/">Facebook</a></li>
                <li><a th:href="@{/add-category}" class="nav-link active" aria-current="page">Categorie noua</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>
                <li><a href="/getOrder"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                <li><a class="nav-link" tabindex="-1" aria-disabled="true" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h3 style="font-family: 'Comic Sans MS'"  align="center"> Categorii de produse din magazinul nostru: </h3>
    <br>
    <div class="row">
        <div class="col-sm-4" th:each="category: ${categoryL}">
            <div class="Panel with panel-warning class">
                <div class="panel-heading">
                    <h5 th:text="${category.categoryName}">{category.categoryName}</h5>
                </div>
                <div class="panel-body"><img th:src="@{${category.categoryImage}}" class="panel-body" style="width: 65%"
                                             alt="...">
                </div>
                <nav class="panel-footer">
                    <h5 class="panel-heading"></h5>
                    <a th:href="@{/delete-category/{id}(id = ${category.categoryId})}"
                       class="btn btn-danger">Delete</a>
                    <a th:href="@{/edit-category/{id}(id = ${category.categoryId})}"
                       class="btn btn-primary">Edit</a>
                </nav>
            </div>
        </div>
    </div>
    </ul>
</div>

<footer class="container-fluid text-center">
    <a href="#section1">
    <p>Contact</p>
    <div>
        tel.0748678134
        <br>
        email: cristinaszabo89@yahoo.com
        <br>
        sediul: Cluj-Napoca
    </div>
    </a>
    <form class="form-inline">Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
</footer>
</body>
</html>
