<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Edit product</p>
<form action="#" th:action="@{/product/edit}" th:object="${productToBeEdit}" method="post">
    <table border="1">
        <tr>
            <td><label> ProductId</label>
            </td>
            <td><input readonly type="text" th:field="*{productId}"/></td>
        </tr>
        <tr>
            <td><label>Title</label></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><label>Thumbnail</label></td>
            <td><input type="text" th:field="*{thumbnail}"/></td>
        </tr>
        <td><label>Price</label></td>
        <td><input type="number" th:field="*{price}"/></td>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect2">Productors</label>
            </div>
            <select id="inputGroupSelect2" class="custom-select" th:field="${productToBeEdit.producator.producatorId}">
                <option selected th:value="null">Choose</option>
                <option th:each="producator : ${producatori}" th:value="${producator.producatorId}"
                        th:text="${producator.firstName}"></option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect2">Category</label>
            </div>
            <select id="inputGroupSelect3" class="custom-select" th:field="${productToBeEdit.category.categoryId}">
                <option selected th:value="null">Choose</option>
                <option th:each="category : ${categories}" th:value="${category.categoryId}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>
    </table>
</form>
</body>
</html>