<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Edit product</p>
<form action="#" th:action="@{/product/edit}" th:object="${productToBeEdit}" method="post">
    <table border="1">
        <tr>
            <td><label> Id</label>
            </td>
            <td ><input readonly type="text" th:field="*{productId}" /></td>
        </tr>
        <tr>
            <td><label>Title</label></td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><label>Thumbnail</label></td>
            <td><input type="text" th:field="*{thumbnail}"/></td>
        </tr>
        <td><label>Price</label></td>
        <td><input type="number" th:field="*{price}"/></td>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>