<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>
<p>Edit category</p>
<form action="#" th:action="@{/category/edit}" th:object="${categoryToBeEdit}" method="post">
    <table border="1">
        <tr>
            <td><label> Name</label></td>
            <td><input type="text" th:field="*{categoryName}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>