<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-inverse" style="background-color: burlywood">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/getCategory">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>

                <li><a class="nav-link" tabindex="-1" aria-disabled="true" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container text-center">
        <h3 style="font-family: 'Comic Sans MS'" align="center"> Creativitate, Culoare, Cadou </h3>
        <div class="media-center">
            <h1 style="font-family: 'Comic Sans MS'">Handmade By Cristina</h1>
            <img class="header-image is-logo-image" alt="logo image" src="/images/cadouri-handmade.jpg"
                 style="width: 80%">
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <a href="#section1">
        <p>Contact</p>
        <div>
            tel.0748678134
            <br>
            email: cristinaszabo89@yahoo.com
            <br>
            sediul: Cluj-Napoca
        </div>
    </a>
</footer>
</body>
</html>