<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Product Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
            background-color: burlywood;
            font-family: "Noto Serif", serif;
            font-size: large;
            text-emphasis-color: #e3f2fd;

        }

        /* Remove the jumbotron's default bottom margin */

        .jumbotron
        .jumbotron {
            margin-bottom: 0;
            font-family: "Arial Narrow";
            font-size: larger;
            ttext-emphasis-color: blue;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: burlywood;
            padding: 25px;
        }
    </style>
</head>
<body>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<div>
    <div class="container text-center">
        <div class="media-center">
            <img class="header-image is-logo-image" alt="logo image" src="/images/cadouri-handmade.jpg" style="width: 50%" >
            <h1 style="font-family: 'Comic Sans MS'">Handmade By Cristina</h1>
        </div>
        <h3 style="font-family: 'Comic Sans MS'" align="center" > Creativitate, Culoare, Cadou </h3>
    </div>
</div >

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/getCategory">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/homepage">Despre mine</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Magazin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/getProduct/1">Nume din fetru simple</a></li>
                        <li><a class="dropdown-item" href="/getProduct/2">Nume din fetru personalizate</a></li>
                        <li><a class="dropdown-item" href="/getProduct/3">Animalute crosetate</a></li>
                        <li><a class="dropdown-item" href="/getProduct/4">Ghiozdan/rucsac</a></li>
                        <li><a class="dropdown-item" href="/getProduct">Toate produsele</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" href="/getPrice">Lista preturi</a></li>
                <li><a class="nav-link" href="https://www.facebook.com/HandmadebyCristinafetru/">Facebook</a></li>
                <li><a th:href="@{/add-product}" class="nav-link active" aria-current="page">Adauga produs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>
                <li><a class="nav-link" tabindex="-1" aria-disabled="true" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4" th:each="product: ${products}">
            <div class="Panel with panel-warning class">
                <div class="panel-heading">
                    <h5 th:text="${product.title}">{product.title}</h5>
                </div>
                <div class="panel-body">
                    <img th:src="@{${product.thumbnail}}" class="panel-body" style="width: 100%" alt="Image">
                    <h4 th:text="${product.price}">{product.price}</h4>
                    <h5 th:text="${product.description}">{product.description}</h5>
                </div>
                <nav class="panel-footer">
                    <h5 class="panel-heading"></h5>
                    <a th:href="@{/delete-product/{id}(id = ${product.productId})}"
                       class="btn btn-danger">Delete</a>
                    <a th:href="@{/edit-product/{id}(id = ${product.productId})}"
                       class=" btn btn-warning">Edit</a>
                </nav>
            </div>
        </div>
    </div>
    </ul>
</div>
</body>
</html>